@import "variable";
@import "mixin";

* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: ps;
  src: url(../font/SFPRODISPLAYREGULAR.OTF);
}

body {
  font-family: ps;
  > div.menu {
    width: 100%;
    height: 45px;
    background-color: #313132;
    > nav {
      width: inherit;
      height: inherit;
      > ul {
        list-style: none;
        display: flex;
        width: inherit;
        height: inherit;
        justify-content: center;
        gap: 0 40px;
        > li {
          width: auto;
          height: inherit;

          > a {
            @include atag(
              auto,
              inherit,
              0 5px,
              #313132,
              45px,
              #b9b8b8,
              block,
              13px,
              none,
              300ms
            );
            &:hover {
              color: white;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
  > div.red {
    @include red(
      100%,
      600px,
      url(../image/choose_red_hero__bnqcrkgq6kia_large.jpg),
      no-repeat,
      center,
      flex,
      60px,
      border-box,
      center
    );
    > div {
      width: auto;
      h2 {
        align-content: center;
        font-size: 60px;
      }
      p {
        text-align: center;
        font-size: 30px;
        margin-top: 8px;
      }
      > a {
        @include atag(
          none,
          none,
          none,
          none,
          none,
          #0066cc,
          block,
          21px,
          none,
          300ms
        );
        &:hover {
          text-decoration: underline;
          font-size: 24px;
        }
        text-align: center;
        margin-top: 20px;
      }
    }
  }
  > div.big {
    @include red(
      100%,
      600px,
      url(../image/hero_iphone14__fjmsqstr1ceq_large.jpg),
      no-repeat,
      center,
      flex,
      60px,
      border-box,
      center
    );
    > div {
      width: auto;
      > h2 {
        text-align: center;
        font-size: 60px;
      }
      p {
        text-align: center;
        font-size: 28px;
        margin-top: 5px;
      }
      > div {
        display: flex;
        gap: 55px;
        justify-content: center;
        margin-top: 6px;
        > a {
          @include atag(
            none,
            none,
            none,
            none,
            none,
            #0066cc,
            block,
            21px,
            none,
            300ms
          );
          &:hover {
            text-decoration: underline;
            font-size: 24px;
          }
        }
      }
    }
  }

  > div.pro {
    @include red(
      100%,
      600px,
      url(../image/hero_iphone14pro__e5xbgo5ffhg2_large.jpg),
      no-repeat,
      center,
      flex,
      40px,
      border-box,
      center
    );
    margin-top: 5px;
    > div {
      width: auto;
      > h2 {
        color: $wcolor;
        font-size: 60px;
        text-align: center;
      }
      > p {
        color: $wcolor;
        text-align: center;
        font-size: 28px;
        margin-top: 5px;
      }
      > div {
        display: flex;
        gap: 55px;
        justify-content: center;
        margin-top: 6px;
        > a {
          @include atag(
            none,
            none,
            none,
            none,
            none,
            #0066cc,
            block,
            21px,
            none,
            300ms
          );
          &:hover {
            text-decoration: underline;
            font-size: 24px;
          }
        }
      }
    }
  }
  // $width,
  // $height,
  // $url,
  // $repeat,
  // $pos,
  // $display,
  // $pad,
  // $boxsize,
  // $justify
  > div.Give {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    > div:nth-last-of-type(1) {
      @include red(
        49%,
        590px,
        url(../image/g1.jpg),
        no-repeat,
        center,
        flex,
        50px,
        border-box,
        center
      );
      position: relative;
      > div {
        position: absolute;
        bottom: 50px;
        text-align: center;
        > h2 {
          color: $wcolor;
          font-size: 50px;
        }
        > p {
          color: $wcolor;
          font-size: 22px;
        }
        > a {
          @include atag(
            none,
            none,
            none,
            none,
            none,
            #0066cc,
            block,
            19px,
            none,
            300ms
          );
          margin-top: 20px;
          &:hover {
            text-decoration: underline;
            font-size: 22px;
          }
        }
      }
    }
    > div:nth-last-of-type(2) {
      @include red(
        49%,
        590px,
        url(../image/promo_apple_watch_series_8__ch7rexplmihe_large.jpg),
        no-repeat,
        center,
        flex,
        50px,
        border-box,
        center
      );
      > div {
        text-align: center;
        > p {
          color: $wcolor;
          font-size: 22px;
          text-align: center;
        }
        > div {
          display: flex;
          gap: 55px;
          justify-content: center;
          margin-top: 10px;
          > a {
            @include atag(
              none,
              none,
              none,
              none,
              none,
              #0066cc,
              block,
              19px,
              none,
              300ms
            );
            &:hover {
              text-decoration: underline;
              font-size: 22px;
            }
          }
        }
      }
    }
  }
  > div.pods {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    > div:nth-last-of-type(1) {
      @include red(
        49%,
        590px,
        url(../image/pod2.jpg),
        no-repeat,
        center,
        flex,
        40px,
        border-box,
        center
      );

      > div {
        bottom: 50px;
        text-align: center;
        > h2 {
          font-size: 50px;
        }
        > p {
          font-size: 22px;
        }
        > a {
          @include atag(
            none,
            none,
            none,
            none,
            none,
            #0066cc,
            block,
            19px,
            none,
            300ms
          );
          margin-top: 15px;
          &:hover {
            text-decoration: underline;
            font-size: 22px;
          }
        }
      }
    }
    > div:nth-last-of-type(2) {
      @include red(
        49%,
        590px,
        url(../image/pod1.jpg),
        no-repeat,
        center,
        flex,
        50px,
        border-box,
        center
      );
      > div {
        text-align: center;
        > h4 {
          font-size: 60px;
        }
        > p {
          font-size: 22px;
          text-align: center;
        }
        > div {
          display: flex;
          gap: 55px;
          justify-content: center;
          margin-top: 10px;
          > a {
            @include atag(
              none,
              none,
              none,
              none,
              none,
              #0066cc,
              block,
              19px,
              none,
              300ms
            );
            &:hover {
              text-decoration: underline;
              font-size: 22px;
            }
          }
        }
      }
    }
  }
  > div.dark {
    width: 100%;
    height: 600px;

    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    > div:nth-last-of-type(1) {
      @include red(
        49%,
        590px,
        url(../image/dark2.jpg),
        no-repeat,
        center,
        flex,
        40px,
        border-box,
        center
      );
      > div {
        text-align: center;
        > h4 {
          font-size: 40px;
          color: $wcolor;
        }
        > div {
          position: relative;
          width: 200px;
          height: 40px;

          > p {
            font-size: 22px;
            text-align: center;
            color: $wcolor;
            display: flex;
            > img {
              display: block;
              position: absolute;
              top: 0px;
              right: 0;
            }
          }
        }
        > a {
          @include atag(
            none,
            none,
            none,
            none,
            none,
            #0066cc,
            block,
            19px,
            none,
            300ms
          );
          margin-top: 15px;
          &:hover {
            text-decoration: underline;
            font-size: 22px;
          }
        }
      }
    }
    > div:nth-last-of-type(2) {
      @include red(
        49%,
        590px,
        url(../image/dark1.jpg),
        no-repeat,
        center,
        flex,
        50px,
        border-box,
        center
      );
      > div {
        text-align: center;
        > h4 {
          font-size: 40px;
          color: $wcolor;
        }
        > p {
          font-size: 22px;
          text-align: center;
          color: $wcolor;
        }
        > div {
          display: flex;
          gap: 55px;
          justify-content: center;
          margin-top: 10px;
          > a {
            @include atag(
              none,
              none,
              none,
              none,
              none,
              #0066cc,
              block,
              19px,
              none,
              300ms
            );
            &:hover {
              text-decoration: underline;
              font-size: 22px;
            }
          }
        }
      }
    }
  }
}
